{% extends 'SFAbreBundle:Admin:base.html.twig' %}

{% block contenido %}
      <div class="starter-template">
        <h1>Importación de datos</h1>
        <hr>
        <h3>Simulación</h3>
        <p>Cargar datos simulados en la base de datos</p>
        <a href="{{ path('importador') }}" class="btn btn-primary">Importación</a>
      </div>
{% endblock %}
