{% extends 'SFAbreBundle:Admin:base.html.twig' %}

{% block contenido %}
      <div class="starter-template">
        <h1>Plan Abre</h1>
        <p class="muted-text">Administrador del portal</p>
        <hr>
      </div>
{% endblock %}
