              <a href="{{ path('[[[entityName]]]_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i> Editar</a>
              <a href="javascript:deleteEntity('{{ path('[[[entityName]]]_jdelete', { 'id': entity.id }) }}')" class="btn btn-danger"><i class="icon-remove icon-white"></i> Borrar</a>